{% extends "layout.html" %}

{% block content %}
<div class="container">
<h3 class="py-4">My cart</h3>
<table class="table table-hover table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
      <div class="col-md-4">
        <h2>Total: --</h2>
      </div>
      <div class="col-md-4 end-0 position-absolute">
        <button class="btn btn-secondary "> Proceed</button>
      </div>
  </div>
  
</div>
{% endblock %}