{% extends "layout.html" %}

{% block content %}

<div class="container">
    {% include "_messages.html" %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="text-center"> Add product</h2>
            {% from "_formhelpers.html" import render_field %}
            <form action="" method="post">
                {{ form.csrf_token }}
                {{ render_field(form.name, class="form-control") }}
                {{ render_field(form.price, class="form-control") }}
                {{ render_field(form.category, class="form-control") }}
                {{ render_field(form.stock , class="form-control") }}
                {{ render_field(form.description, class="form-control", rows=10) }}
                
                    {{ render_field(form.visibility , class="form-check", ) }}
                
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">{{ render_field(form.image_1, class="form-control") }}</div>
                        <div class="col-md-4">{{ render_field(form.image_2, class="form-control") }}</div>
                        <div class="col-md-4">{{ render_field(form.image_3, class="form-control") }}</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-4">Add product</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}